.con {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  .aqua {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
  }
  
  .aquamarine {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
  }
  
  .azure {
    width: 100vw;
    height: 100vh;
    background-color: azure;
  }