body{
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: skyblue;

}


.mini{
    color: skyblue;
}
.large{
    text-align: center;
}

.medium{
    color: #dbdbdb;
    text-align: center;
}

