header {
  width: 100vw;
  position: fixed;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: center; /*가운데로*/
  align-items: center; /*가운데로*/
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
}

nav > ul {
  display: flex;
}

nav > ul > li {
  padding: 20px 40px;
  transition: all 0.5s;
  cursor: pointer;
}

nav > ul > li:hover {
  background: var(--color-grey);
  color: var(--color-white);
}

.pallete {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mint {
  background-color: mintcream;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.grey {
  background-color: gray;
}

.lightblack {
  background-color: lightslategray;
}

.green {
  background-color: green;
}

.mega {
  background-color: magenta;
}

@media screen and (max-width: 1024px) {
  .pallete {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .pallete {
    grid-template-columns: repeat(1, 1fr);
  }
}
