.card__cont{
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 30px 40px 30px 40px;
    border-radius: 14px;
    box-shadow: 1px 1px 20px 2px rgba(147, 159, 0, 0.09);
    
    
    
}

.star{
color: green;
}

