.apple {
  /* 자식의 배치도 css*/
  display: flex;
  /* 가운데로 맞춰줘 */
  justify-content: center;
  /* 자식들의 간격을 10px */
  gap: 10px;

  color: black;
  background-color: white;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* 두께 스타일 색상*/
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.icon {
  display: flex;
  /*가운데로 맞춰줘*/
  align-items: center;
  font-size: 30px;
}

.apple2 {
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
  color: white;
  /* 자식의 배치도 css*/
  display: flex;
  /*가운데로 맞춰줘*/
  align-items: center;
  /* 가운데로 맞춰줘 */
  justify-content: center;
  border-radius: 50px;
}

.mail {
  color: white;
  background-color: skyblue;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.naver {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.naver2 {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
